select {
    border: 0px;
    outline: 0px;
    background-color: #f8f8f8;
    padding: 5px 5px 5px 15px;
    border: 1px solid #f8f8f8;
}

.list {
    display: flex;
    flex-wrap: wrap;
    max-height: 130px;
    overflow-y: auto;
}