.container {
    border-bottom: 1px solid #e0e0e0;
    position: relative;
  }
  
  .selectWrapper {
    margin: 10px;
    position: relative;
    width: 250px;
  }
  
  .selectedOption {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #fff;
  }

  .options {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    margin-top: 2px;
    overflow: hidden;
    font-weight: 'bold'

  }

  .option {
    padding: 8px;
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
    display: block;
  }
