.header {
    position: sticky;
    top: 0;
    height: 65px;
    background: black;
}

.menu {
    display: flex;
    line-height: 65px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}