body {
  direction: rtl;
}

.error {
  color: red;
  font-size: x-small;
}

.button {
  background-color: rgb(69, 124, 233);
  color: white;
  border-radius: 5px;
  border: white;
  padding: 6px 8px;
  margin-top: 10px;
}

.button :hover {
  background-color: white;
  color: rgb(69, 124, 233);
  border: rgb(69, 124, 233);
}

.center {
  text-align: center;
  align-items: center;
  margin: 0 auto;

}